## Importing All The Libraries

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical

## Loading the dataset

In [12]:
# PATH="C://Users//DELL//Downloads//archive"
# PATH="C://Users//DELL//Downloads//archive"
PATH  ="C://Users//NEC//Downloads"
dataset=pd.read_csv(f'{PATH}//weatherHistory.csv')
dataset

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [14]:
# Basic information about the DataFrame
print("DataFrame Shape (rows, columns):")
print(dataset.shape)

print("\nDataFrame Column Names:")
print(dataset.columns.tolist())

print("\nDataFrame Data Types:")
print(dataset.dtypes)

print("\nMissing Values Count:")
print(dataset.isnull().sum())

DataFrame Shape (rows, columns):
(96453, 12)

DataFrame Column Names:
['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)', 'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover', 'Pressure (millibars)', 'Daily Summary']

DataFrame Data Types:
Formatted Date               object
Summary                      object
Precip Type                  object
Temperature (C)             float64
Apparent Temperature (C)    float64
Humidity                    float64
Wind Speed (km/h)           float64
Wind Bearing (degrees)      float64
Visibility (km)             float64
Loud Cover                  float64
Pressure (millibars)        float64
Daily Summary                object
dtype: object

Missing Values Count:
Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Loud Cover                    0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [16]:
dataset.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [18]:
# Count the number of occurrences of each class
dataset['Summary'].value_counts()

Summary
Partly Cloudy                          31733
Mostly Cloudy                          28094
Overcast                               16597
Clear                                  10890
Foggy                                   7148
Breezy and Overcast                      528
Breezy and Mostly Cloudy                 516
Breezy and Partly Cloudy                 386
Dry and Partly Cloudy                     86
Windy and Partly Cloudy                   67
Light Rain                                63
Breezy                                    54
Windy and Overcast                        45
Humid and Mostly Cloudy                   40
Drizzle                                   39
Breezy and Foggy                          35
Windy and Mostly Cloudy                   35
Dry                                       34
Humid and Partly Cloudy                   17
Dry and Mostly Cloudy                     14
Rain                                      10
Windy                                      8
Humid and Overcast                         7
Windy and Foggy                            4
Windy and Dry                              1
Dangerously Windy and Partly Cloudy        1
Breezy and Dry                             1
Name: count, dtype: int64

# Weather Dataset Preprocessing
In this notebook, we will preprocess the Weather Dataset to prepare it for classification.
---
## Why We Chose Only 4 Classes
The original dataset contains many weather condition classes under the `Summary` column. However, most of these classes have very few samples, which leads to class imbalance. Models trained on imbalanced data tend to perform poorly and are biased toward majority classes.
To improve model performance and training stability, we selected only the **top 4 most frequent weather classes**, which are sufficiently populated and balanced. This makes it a **manageable multiclass classification problem** with reliable evaluation metrics like accuracy, precision, recall, and F1-score.

## Filter the Dataset to Keep Only the Top 4 Classes

In [20]:
# Selecting the top 4 most frequent classes
# Find top 4 classes
top_classes = dataset['Summary'].value_counts().index[:4].tolist()
# Create an empty list to store the indices of rows to keep
rows_to_keep = []

# Loop through each row in the dataframe
for index, row in dataset.iterrows():
    # Check if the 'Summary' value is in the top 4 classes
    if row['Summary'] in top_classes:
        rows_to_keep.append(index)

# Filter the DataFrame based on the indices to keep
dataset_filtered = dataset.loc[rows_to_keep]
print(dataset_filtered['Summary'].value_counts())

Summary
Partly Cloudy    31733
Mostly Cloudy    28094
Overcast         16597
Clear            10890
Name: count, dtype: int64

In [21]:
dataset_filtered

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

## Handle Missing Values

In [30]:
dataset_filtered = dataset_filtered.dropna()

In [32]:
# Basic information about the DataFrame
print("DataFrame Shape (rows, columns):")
print(dataset_filtered.shape)

print("\nDataFrame Column Names:")
print(dataset_filtered.columns.tolist())

print("\nDataFrame Data Types:")
print(dataset_filtered.dtypes)

print("\nMissing Values Count:")
print(dataset_filtered.isnull().sum())

DataFrame Shape (rows, columns):
(86828, 12)

DataFrame Column Names:
['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)', 'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover', 'Pressure (millibars)', 'Daily Summary']

DataFrame Data Types:
Formatted Date               object
Summary                      object
Precip Type                  object
Temperature (C)             float64
Apparent Temperature (C)    float64
Humidity                    float64
Wind Speed (km/h)           float64
Wind Bearing (degrees)      float64
Visibility (km)             float64
Loud Cover                  float64
Pressure (millibars)        float64
Daily Summary                object
dtype: object

Missing Values Count:
Formatted Date              0
Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Loud Cover                  0
Pressure (millibars)        0
Daily Summary               0
dtype: int64

## Encode Categorical Columns
We'll convert the target variable (`Summary`) and any other categorical columns to numeric.

In [34]:
### Encoding the Target 
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
dataset_filtered['Label'] = label_encoder.fit_transform(dataset_filtered['Summary'])
dataset_filtered

C:\Users\NEC\AppData\Local\Temp\ipykernel_1544\129166514.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_filtered['Label'] = label_encoder.fit_transform(dataset_filtered['Summary'])

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Label
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,3
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,3
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,1
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,3
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.,3
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.,3
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.,3
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.,3
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.,3

## Drop Irrelevant or Redundant Columns
Some columns like `Daily Summary` are too verbose or not useful for prediction. We'll remove them.

In [37]:

dataset_filtered=dataset_filtered.drop(['Summary', 'Daily Summary', 'Formatted Date','Precip Type',"Loud Cover"], axis=1)
dataset_filtered  ###final dataset

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Label
0,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,3
1,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,3
2,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94,1
3,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41,3
4,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51,1
...,...,...,...,...,...,...,...,...
96448,26.016667,26.016667,0.43,10.9963,31.0,16.1000,1014.36,3
96449,24.583333,24.583333,0.48,10.0947,20.0,15.5526,1015.16,3
96450,22.038889,22.038889,0.56,8.9838,30.0,16.1000,1015.66,3
96451,21.522222,21.522222,0.60,10.5294,20.0,16.1000,1015.95,3
96452,20.438889,20.438889,0.61,5.8765,39.0,15.5204,1016.16,3

  ## separating features and target

In [40]:
# separating predictors
X = dataset_filtered.drop("Label",axis=1) 
X

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
0,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13
1,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63
2,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94
3,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41
4,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51
...,...,...,...,...,...,...,...
96448,26.016667,26.016667,0.43,10.9963,31.0,16.1000,1014.36
96449,24.583333,24.583333,0.48,10.0947,20.0,15.5526,1015.16
96450,22.038889,22.038889,0.56,8.9838,30.0,16.1000,1015.66
96451,21.522222,21.522222,0.60,10.5294,20.0,16.1000,1015.95
96452,20.438889,20.438889,0.61,5.8765,39.0,15.5204,1016.16

In [42]:
# separating target
Y = dataset_filtered["Label"] 
Y

0        3
1        3
2        1
3        3
4        1
        ..
96448    3
96449    3
96450    3
96451    3
96452    3
Name: Label, Length: 86828, dtype: int32

## Scale the Features
Standardization (mean = 0, std = 1) improves the performance of many ML algorithms.

In [45]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
0,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13
1,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63
2,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94
3,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41
4,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51
...,...,...,...,...,...,...,...
96448,26.016667,26.016667,0.43,10.9963,31.0,16.1000,1014.36
96449,24.583333,24.583333,0.48,10.0947,20.0,15.5526,1015.16
96450,22.038889,22.038889,0.56,8.9838,30.0,16.1000,1015.66
96451,21.522222,21.522222,0.60,10.5294,20.0,16.1000,1015.95
96452,20.438889,20.438889,0.61,5.8765,39.0,15.5204,1016.16

## Visualizing data distributions

In [ ]:
# Histogram for the target
plt.figure(figsize=(10, 6))
plt.hist(Y, ec='black', color='#7b1fa2', rwidth=0.5)
plt.xlabel('target')
plt.ylabel('Label')
plt.show()

In [ ]:
# Histogram for the Temperature
plt.figure(figsize=(10, 6))
plt.hist(X['Temperature (C)'], ec='black', color='blue')
plt.xlabel('Temperature')
plt.ylabel('Label')
plt.show()

 ## finding correlations

In [47]:
X.corr()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
Temperature (C),1.000000,0.993409,-0.610562,-0.024062,0.014388,0.281745,-0.001152
Apparent Temperature (C),0.993409,1.000000,-0.581412,-0.081779,0.015205,0.280308,0.003264
Humidity,-0.610562,-0.581412,1.000000,-0.197251,0.023979,-0.242448,0.001344
Wind Speed (km/h),-0.024062,-0.081779,-0.197251,1.000000,0.085066,0.017329,-0.042593
Wind Bearing (degrees),0.014388,0.015205,0.023979,0.085066,1.000000,0.025466,-0.010855
Visibility (km),0.281745,0.280308,-0.242448,0.017329,0.025466,1.000000,0.087434
Pressure (millibars),-0.001152,0.003264,0.001344,-0.042593,-0.010855,0.087434,1.000000

In [49]:
X.isnull().any().any()

False

In [51]:
# Finding correlation between Summary and features
dataset_filtered.corr()["Label"].abs().sort_values(ascending=False)

Label                       1.000000
Humidity                    0.147518
Temperature (C)             0.144653
Apparent Temperature (C)    0.138622
Pressure (millibars)        0.114168
Visibility (km)             0.037514
Wind Speed (km/h)           0.027894
Wind Bearing (degrees)      0.014552
Name: Label, dtype: float64

### splitting the dataSet

In [53]:
from sklearn.model_selection import train_test_split
# X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, Y, test_size=0.2,random_state=42)
# 80/20 split
X_train_80, X_test_20, y_train_80, y_test_20 = train_test_split(X_scaled,Y, test_size=0.2, random_state=42, stratify=Y)

# 70/30 split
X_train_70, X_test_30, y_train_70, y_test_30 = train_test_split(X_scaled,Y, test_size=0.3, random_state=42, stratify=Y)

# Logistic Regression Models

In this section, we implement Logistic Regression using multiple hyperparameter configurations to comprehensively explore model performance.  
We vary the regularization strength parameter `C`, solver types (`lbfgs`, `liblinear`, `saga`, `newton-cg`), and penalty types (`l1`, `l2`, `elasticnet`).  
This diversity allows us to find the most suitable model for our multi-class classification problem without using one-vs-rest (OVR) explicitly.  
We evaluate each model on two different train-test splits (80/20 and 70/30) to observe how different data partitions affect the results.

For each model, we report several performance metrics:  
- **Accuracy**: Overall correctness of predictions.  
- **Precision, Recall, F1-score (weighted averages)**: To better understand model behavior on imbalanced classes.  
- **Mean Squared Error (MSE)** and **RÂ² Score**: Additional regression-style metrics to provide complementary insights, though primarily classification metrics are more meaningful here.  

---

# Naive Bayes Models

Here, we implement Gaussian Naive Bayes only, as it suits continuous features that may include negative values.  
Other Naive Bayes variants like MultinomialNB and BernoulliNB are not suitable for our dataset due to their assumptions about discrete or binary inputs.  

GaussianNB is trained and evaluated on the same two train-test splits (80/20 and 70/30) for consistent comparison with Logistic Regression models.  
This allows us to assess the relative performance of probabilistic vs. linear classifiers on the dataset.

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.metrics import classification_report, accuracy_score

# Logistic Regression hyperparameter sets (3 models)
logistic_params = [
    {"C": 0.1, "solver": "lbfgs", "max_iter": 500, "random_state": 42},
    {"C": 1.0, "solver": "lbfgs", "max_iter": 500, "random_state": 42},
    {"C": 10.0, "solver": "lbfgs", "max_iter": 500, "random_state": 42}
]

# Naive Bayes models (3 models)
# Using different Naive Bayes variants to compare
naive_bayes_models = [
    ("GaussianNB", GaussianNB()),
]

def train_evaluate_logistic(X_train, X_test, y_train, y_test, split_name):
    print(f"\n--- Logistic Regression Models ({split_name} Split) ---")
    for i, params in enumerate(logistic_params, 1):
        model = LogisticRegression(**params)
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        acc = accuracy_score(y_test, y_pred)
        print(f"\nModel {i} - Logistic Regression with C={params['C']}")
        print(f"Accuracy: {acc:.4f}")
        print(classification_report(y_test, y_pred))

def train_evaluate_naive_bayes(X_train, X_test, y_train, y_test, split_name):
    print(f"\n--- Naive Bayes Models ({split_name} Split) ---")
    for i, (name, model) in enumerate(naive_bayes_models, 1):
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        acc = accuracy_score(y_test, y_pred)
        print(f"\nModel {i} - {name}")
        print(f"Accuracy: {acc:.4f}")
        print(classification_report(y_test, y_pred))

# Assuming your train-test splits are named as follows:
# X_train_80, X_test_20, y_train_80, y_test_20
# X_train_70, X_test_30, y_train_70, y_test_30

# Logistic Regression on 80/20 split
train_evaluate_logistic(X_train_80, X_test_20, y_train_80, y_test_20, "80/20")

# Logistic Regression on 70/30 split
train_evaluate_logistic(X_train_70, X_test_30, y_train_70, y_test_30, "70/30")

# Naive Bayes on 80/20 split
train_evaluate_naive_bayes(X_train_80, X_test_20, y_train_80, y_test_20, "80/20")

# Naive Bayes on 70/30 split
train_evaluate_naive_bayes(X_train_70, X_test_30, y_train_70, y_test_30, "70/30")

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, accuracy_score, precision_score, recall_score, f1_score, mean_squared_error, r2_score

# Expanded Logistic Regression hyperparameter sets (7 models)
logistic_params = [
    {"C": 0.01, "solver": "lbfgs", "max_iter": 500, "random_state": 42, "penalty": "l2"},
    {"C": 0.1, "solver": "lbfgs", "max_iter": 500, "random_state": 42, "penalty": "l2"},
    {"C": 1.0, "solver": "lbfgs", "max_iter": 500, "random_state": 42, "penalty": "l2"},
    {"C": 10.0, "solver": "lbfgs", "max_iter": 500, "random_state": 42, "penalty": "l2"},
    {"C": 1.0, "solver": "liblinear", "max_iter": 500, "random_state": 42, "penalty": "l1"},
    {"C": 1.0, "solver": "saga", "max_iter": 500, "random_state": 42, "penalty": "elasticnet", "l1_ratio": 0.5},
    {"C": 1.0, "solver": "newton-cg", "max_iter": 500, "random_state": 42, "penalty": "l2"},
]

def train_evaluate_logistic(X_train, X_test, y_train, y_test, split_name):
    print(f"\n--- Logistic Regression Models ({split_name} Split) ---")
    for i, params in enumerate(logistic_params, 1):
        try:
            model = LogisticRegression(**params)
            model.fit(X_train, y_train)
            y_pred = model.predict(X_test)

            acc = accuracy_score(y_test, y_pred)
            prec = precision_score(y_test, y_pred, average='weighted', zero_division=0)
            rec = recall_score(y_test, y_pred, average='weighted')
            f1 = f1_score(y_test, y_pred, average='weighted')
            mse = mean_squared_error(y_test, y_pred)
            r2 = r2_score(y_test, y_pred)

            print(f"\nModel {i} - Logistic Regression with params: {params}")
            print(f"Accuracy: {acc:.4f}")
            print(f"Precision: {prec:.4f}")
            print(f"Recall: {rec:.4f}")
            print(f"F1-score: {f1:.4f}")
            print(f"MSE: {mse:.4f}")
            print(f"R2 Score: {r2:.4f}")
            print(classification_report(y_test, y_pred, zero_division=0))

        except Exception as e:
            print(f"Model {i} failed with params {params}: {e}")

def train_evaluate_naive_bayes(X_train, X_test, y_train, y_test, split_name):
    print(f"\n--- Naive Bayes Models ({split_name} Split) ---")
    naive_bayes_models = [("GaussianNB", GaussianNB())]  # kept same as per your request
    for i, (name, model) in enumerate(naive_bayes_models, 1):
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        acc = accuracy_score(y_test, y_pred)
        print(f"\nModel {i} - {name}")
        print(f"Accuracy: {acc:.4f}")
        print(classification_report(y_test, y_pred, zero_division=0))

# Run for 80/20 split
train_evaluate_logistic(X_train_80, X_test_20, y_train_80, y_test_20, "80/20")
train_evaluate_naive_bayes(X_train_80, X_test_20, y_train_80, y_test_20, "80/20")

# Run for 70/30 split
train_evaluate_logistic(X_train_70, X_test_30, y_train_70, y_test_30, "70/30")
train_evaluate_naive_bayes(X_train_70, X_test_30, y_train_70, y_test_30, "70/30")

In [ ]:
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc, RocCurveDisplay
from sklearn.preprocessing import label_binarize
import numpy as np

def train_evaluate_logistic(X_train, X_test, y_train, y_test, split_name):
    print(f"\n{'='*50}")
    print(f" Logistic Regression Models ({split_name} Split) ")
    print(f"{'='*50}")

    # Binarize labels for ROC in multiclass case
    classes = np.unique(y_train)
    y_test_bin = label_binarize(y_test, classes=classes)
    n_classes = y_test_bin.shape[1]

    plt.figure(figsize=(14, 10))
    for i, params in enumerate(logistic_params, 1):
        try:
            model = LogisticRegression(**params)
            model.fit(X_train, y_train)
            y_pred = model.predict(X_test)
            y_pred_prob = model.predict_proba(X_test)

            acc = accuracy_score(y_test, y_pred)
            prec = precision_score(y_test, y_pred, average='weighted', zero_division=0)
            rec = recall_score(y_test, y_pred, average='weighted')
            f1 = f1_score(y_test, y_pred, average='weighted')
            mse = mean_squared_error(y_test, y_pred)
            r2 = r2_score(y_test, y_pred)

            print(f"\nModel {i}: Logistic Regression with params: {params}")
            print("-"*50)
            print(f"Accuracy : {acc:.4f}")
            print(f"Precision: {prec:.4f}")
            print(f"Recall   : {rec:.4f}")
            print(f"F1-score : {f1:.4f}")
            print(f"MSE      : {mse:.4f}")
            print(f"R2 Score : {r2:.4f}")
            print(classification_report(y_test, y_pred, zero_division=0))

            # Plot ROC curves for each class (One-vs-Rest)
            plt.subplot(4, 2, i)  # arrange up to 7 plots nicely
            for j in range(n_classes):
                fpr, tpr, _ = roc_curve(y_test_bin[:, j], y_pred_prob[:, j])
                roc_auc = auc(fpr, tpr)
                plt.plot(fpr, tpr, lw=2, label=f"Class {classes[j]} (AUC = {roc_auc:.2f})")

            plt.plot([0, 1], [0, 1], 'k--', lw=2)
            plt.title(f'Model {i} ROC Curve\nParams: C={params.get("C")}, Penalty={params.get("penalty")}')
            plt.xlabel('False Positive Rate')
            plt.ylabel('True Positive Rate')
            plt.legend(loc='lower right')
            plt.tight_layout()

        except Exception as e:
            print(f"Model {i} failed with params {params}: {e}")

    plt.show()

def train_evaluate_naive_bayes(X_train, X_test, y_train, y_test, split_name):
    print(f"\n{'='*50}")
    print(f" Naive Bayes Models ({split_name} Split) ")
    print(f"{'='*50}")

    naive_bayes_models = [("GaussianNB", GaussianNB())]  # kept same as per your request
    for i, (name, model) in enumerate(naive_bayes_models, 1):
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        acc = accuracy_score(y_test, y_pred)
        print(f"\nModel {i} - {name}")
        print(f"Accuracy: {acc:.4f}")
        print(classification_report(y_test, y_pred, zero_division=0))

# Example run (ensure your X_train_80, X_test_20, etc. are defined)
train_evaluate_logistic(X_train_80, X_test_20, y_train_80, y_test_20, "80/20")
train_evaluate_naive_bayes(X_train_80, X_test_20, y_train_80, y_test_20, "80/20")

train_evaluate_logistic(X_train_70, X_test_30, y_train_70, y_test_30, "70/30")
train_evaluate_naive_bayes(X_train_70, X_test_30, y_train_70, y_test_30, "70/30")

# KNN Model

In [ ]:
# Method 1: Count the occurrences of each class
class_counts = Y.value_counts()
print(class_counts)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier 
from sklearn import metrics 
from sklearn.metrics import confusion_matrix, classification_report
# Loading the knn classifier
classifier1 = KNeighborsClassifier(n_neighbors=7)
# Training the model
model1=classifier1.fit(X_train, Y_train)
# Evaluating the model
Y_pred1 = model1.predict(X_test) 
print("The accuracy is "+str(metrics.accuracy_score(Y_test,Y_pred1)*100)+"%") 
print(confusion_matrix(Y_test, Y_pred1))
target_names = ['class 0', 'class 1', 'class 2', 'class 3'] 
print(classification_report(Y_test, Y_pred1, target_names=target_names))

In [ ]:
# Using scikit-learn's weighted k-NN
from sklearn.neighbors import KNeighborsClassifier

# 'distance' weighting gives more influence to closer neighbors
weighted_knn = KNeighborsClassifier(n_neighbors=13, weights='distance', algorithm='auto')
weighted_knn.fit(X_train, Y_train)
Y_pred = weighted_knn.predict(X_test)
print("The accuracy is "+str(metrics.accuracy_score(Y_test,Y_pred)*100)+"%")

In [ ]:
from sklearn.model_selection import GridSearchCV, StratifiedKFold

# Define the parameter grid
param_grid = {
    'n_neighbors': [5, 7, 9, 11, 13, 15],
    'weights': ['uniform', 'distance'],
    'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']
}
# Use stratified k-fold to maintain class distribution
stratified_cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

# Create and fit the grid search
knn = KNeighborsClassifier()
grid_search = GridSearchCV(knn, param_grid, cv=stratified_cv, scoring='balanced_accuracy')
grid_search.fit(X_train, Y_train)

# Print all best parameters
print(f"Best parameters: {grid_search.best_params_}")
# # Or print each parameter individually
# print(f"Best k: {grid_search.best_params_['n_neighbors']}")
# print(f"Best weights: {grid_search.best_params_['weights']}")
# print(f"Best algorithm: {grid_search.best_params_['algorithm']}")
best_knn = grid_search.best_estimator_

## MLP Models

### Step 1: One-Hot Encoding of Target Labels for MLP
We convert the integer class labels into one-hot encoded vectors, as required by the neural network's softmax output layer.

In [63]:
from tensorflow.keras.utils import to_categorical

y_train_cat = to_categorical(y_train_70)
y_test_cat = to_categorical(y_test_30)

### Step 2: Define and Train MLP Models with Different Hyperparameters
We now define three simple MLP models with one hidden layer each, varying the number of units and training epochs. This helps us observe the impact of architecture and training duration on performance.

### MLP Model Training on the two DataSplit
In this step, we train three different MLP (Multi-Layer Perceptron) models by varying key hyperparameters, specifically:

- Number of hidden units in the hidden layer (`units`)
- Number of training epochs

We run this experiment on two data split configurations:

1. **80/20 Split** (80% training, 20% testing)
2. **70/30 Split** (70% training, 30% testing)

This allows us to analyze how the choice of data split and model complexity impacts the modelâ€™s performance. For each combination, we record the training time, accuracy, and classification metrics.

In [75]:
from sklearn.metrics import classification_report, confusion_matrix
import numpy as np

In [77]:
import time
# Configurations for 3 models: units in hidden layer, epochs
mlp_configs = [
    {'units': 32, 'epochs': 20},
    {'units': 64, 'epochs': 30},
    {'units': 128, 'epochs': 40}
]

mlp_models = []
mlp_histories = []

for i, config in enumerate(mlp_configs):
    print(f"\nTraining MLP Model {i+1} - Units: {config['units']}, Epochs: {config['epochs']}")

    model = Sequential()
    model.add(Dense(config['units'], activation='relu', input_shape=(X_train_70.shape[1],)))
    model.add(Dense(4, activation='softmax'))

    model.compile(optimizer='adam',
                  loss='categorical_crossentropy',
                  metrics=['accuracy'])

    start = time.time()

    history = model.fit(X_train_70, y_train_cat,
                        validation_data=(X_test_30, y_test_cat),
                        epochs=config['epochs'],
                        batch_size=32,
                        verbose=0)
    end = time.time()
    duration = end - start
    print(f"Training Time: {duration:.2f} seconds")

    mlp_models.append(model)
    mlp_histories.append(history)

    loss, acc = model.evaluate(X_test_30, y_test_cat, verbose=0)
    print(f"Test Accuracy: {acc:.4f}")

    y_pred = np.argmax(model.predict(X_test_30), axis=1)
    print(classification_report(y_test_30, y_pred, target_names=label_encoder.classes_))

Training MLP Model 1 - Units: 32, Epochs: 20

C:\Users\NEC\AppData\Roaming\Python\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

NameError: name 'duration' is not defined

### Step 3: Plot Accuracy Curves for the Trained MLP Models
To compare model performance visually, we now plot training and validation accuracy across epochs for all three MLP configurations.

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
for i, history in enumerate(mlp_histories):
    plt.plot(history.history['val_accuracy'], label=f'Model {i+1} (val)')
    plt.plot(history.history['accuracy'], linestyle='dashed', label=f'Model {i+1} (train)')

plt.title('MLP Model Training vs Validation Accuracy')
plt.xlabel('Epochs')
plt.ylabel('Accuracy')
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
print(confusion_matrix(y_test, y_pred_classes))

In [ ]:
# # Plot confusion matrix (optional but useful)
# from sklearn.metrics import confusion_matrix
# import seaborn as sns

# # Get predicted classes
# y_pred = np.argmax(y_score, axis=1)
# y_true = np.argmax(Y_test_encoded, axis=1)

# # Create confusion matrix
# cm = confusion_matrix(y_true, y_pred)

# # Plot confusion matrix
# plt.figure(figsize=(8, 6))
# sns.heatmap(cm, annot=True, fmt='d', cmap='Blues', 
#             xticklabels=class_names, 
#             yticklabels=class_names)
# plt.xlabel('Predicted')
# plt.ylabel('True')
# plt.title('Confusion Matrix')
# plt.tight_layout()
# plt.show()